.calculator
{
    border: 2px solid black ;
    width: 50vw;
    height: 60vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.result
{
height: 10vh;
border: 1px solid grey;
border-radius: 20px;
text-align: right;
font-size: 3em;
overflow-x: scroll;
}
.container
{
    display: flex;
    flex-direction: column;
}
.row {
    display: flex; /* Enable flexbox for rows */
    flex: 1; /* Make rows flexible to fill available space */
  }
  
  .row > button { /* Target direct children of rows (buttons) */
    flex: 1; /* Make buttons flexible to fill available space within rows */
    border: 1px solid grey; 
    padding: 5px; 
     text-align: center; 
    font-size: 1em; /* Adjust font size as needed */
  }
  button:hover{
    background-color: white;
  }
